    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin: 0 auto;
        max-width: 1200px;
    }
    
     :root {
        --font-sizeh1-1200: 64px;
        --font-sizeh1-320: 36px;
        --font-sizep-320: 14px;
    }
    
    .relative {
        position: relative;
        /*haces clase gral*/
    }
    /*-----------seccion 1------------------*/
    
    #menu-desktop {
        display: none;
    }
    
    #menu-mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 16px;
    }
    
    @media(min-width:320px) {
        #menu-mobile {
            display: none;
        }
        #menu-desktop {
            height: 70px;
            background-color: purple;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }